*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Arial;

background:linear-gradient(135deg,#667eea,#764ba2);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

background:white;

padding:30px;

border-radius:10px;

width:350px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

h1{

text-align:center;

margin-bottom:20px;

}

.input-area{

display:flex;

gap:10px;

}

input{

flex:1;

padding:10px;

border:1px solid #ccc;

border-radius:5px;

}

button{

padding:10px;

border:none;

background:#667eea;

color:white;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#5a67d8;

}

ul{

margin-top:20px;

list-style:none;

}

li{

padding:10px;

background:#f4f4f4;

margin-top:10px;

border-radius:5px;

display:flex;

justify-content:space-between;

align-items:center;

cursor:pointer;

}

.concluida{

text-decoration:line-through;

opacity:0.6;

}

#contador{

margin-top:10px;

font-size:14px;

color:gray;

}